<<<<<<< HEAD
/*FONT*/


@font-face {
    font-family: 'Bebas Neue Regular';
    src: url('../font/bebasneue_bold-webfont.woff2') format('woff2'),
         url('../font/bebasneue_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/*GENERAL*/
* { box-sizing: border-box; }

body{
  font-family: 'Open Sans', sans-serif;
  background-color: whitesmoke;
}

.kader{
  width: 70%;
  margin: 50px auto;
}

.kaderapart{
  width: 50%;
  margin: 50px auto;
}

h1{
  text-align: center;
  font-family: 'Bebas Neue Regular';
  font-weight: lighter;
  letter-spacing: 2px;
}

h2{
  font-family: 'Bodoni';
  font-size: 2em;
  color: white;
  text-align: center;
}

h3{
  font-family: 'Bebas Neue Regular';
  color: #f3bb02;
  font-size: 2em;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

p{
  margin: 10px 0 0 0;
}

img{
  width: 100%;
}

iframe{
  width: 100%;
}

nav{
  text-align: center;
  position: absolute;
  top: 50px;
  left: 46%;
}

nav a{
  text-decoration: none;
  color: white;
  margin-right: 50px;
  font-family: 'Bebas Neue Regular';
  letter-spacing: 2px;
  font-weight: lighter;
}

nav a:hover{
  border-bottom: 2px solid white;
}

#achtergrondfoto{
  width: 100%;
  height: 98vh;
  background-image: url("../foto/achtergrond.jpg");
  background-size: cover;
}


#achtergrondfotoapart{
  width: 100%;
  height: 300px;
  background-image: url("../foto/achtergrond.jpg");
  background-size: cover;
  background-position: bottom;
}

#home{
  display: grid;
  width: 25%;
  margin:  auto;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 5px 1fr;
}

#logo{
  width: 100%;
  grid-row: 1;
  grid-column: 1;
  padding-top: 100px;
}

#intro{
  color: white;
  text-align: center;
  grid-row: 3;
  grid-column: 1;
  font-family: 'Bebas Neue Regular';
  letter-spacing: 2px;
  font-weight: lighter;
}

.info{
  text-align: justify;
  margin-bottom: 50px;
}

.kaderapart a{
  text-decoration: none;
  color: black;
  font-family: 'Bebas Neue Regular';
  letter-spacing: 2px;
  font-weight: lighter;
}

.kaderapart a:hover{
  border-bottom: 2px solid black;
}




/*GRID*/
#gridcontainer {
      display: grid;
      width: 100%;
      height: 100%;
      margin: 25px auto;
      grid-template-columns: 1fr 10px 1fr 10px 1fr 10px 1fr;
      grid-template-rows: 1fr 5px 1fr 5px 1fr 5px 1fr;
}

#griditem img{
  height: 100%;
  background-size: cover;
}

#griditem1{
  grid-row: 1;
  grid-column: 1;
}

#griditem2{
  grid-row: 1;
  grid-column: 3;
}

#griditem3{
  grid-row: 1;
  grid-column: 5;
}

#griditem4{
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column: 7;
}

#griditem5{
  grid-row-start: 3;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: 4;
}

#griditem6{
  grid-row: 3;
  grid-column: 5;
}
#griditem7{
  grid-row-start: 5;
  grid-row-end: 8;
  grid-column-start: 5;
  grid-column-end: 8;
}
#griditem8{
  grid-row: 7;
  grid-column-start: 1;
  grid-column-end: 4;
}

/*DESCRIPTION*/
.description{
  position: absolute;
  margin: -55px 0 0 20px;
  opacity: 0;

}

.description a{
  background-color: white;
  color: #f3bb02;
  text-decoration: none;
  padding: 5px 5px 5px 5px;
  font-family: 'Bebas Neue Regular';
  font-weight: lighter;
  letter-spacing: 2px;
}

.griditem:hover .description{
  opacity: 1;
}

h4{
  color: white;
  padding: 5px;
  font-family: 'Bebas Neue Regular';
  font-weight: lighter;
  letter-spacing: 2px;
  margin-top: 5px;
  border-left: 2px solid white;
}

.description a:hover{
  color: black;
}



/*FOOTER*/
footer{
  width: 100%;
  background-color: #f3bb02;
  color: white;
  padding: 20px;
}

.fa{
  padding: 10px;
  font-size: 30px;
  width: 40px;
  height: 40px;
  color: white;
  text-align: center;
  text-decoration: none;
  margin: 5px 5px;
  border: 2px solid #f3bb02;
  border-radius: 50%;
}

.fa:hover {
    border: 2px solid white;
    border-radius: 50%;
}

#gridfooter {
      display: grid;
      width: 100%;
      height: 600px;
      margin: 25px auto;
      grid-template-columns: 1fr 0px 1fr 50px 1fr 0px 1fr ;
      grid-template-rows: 1fr 0px 1fr 0px 1fr;
}

#griditemfootertekst{
  border: 5px solid white;
  color: white;
  text-align: justify;
  grid-row: 3;
  grid-column-start: 4;
  grid-column-end: 8;
  padding: 30px 30px 30px 90px;
}

#griditemfooterfoto{
  background-image: url("https://instagram.fbru1-1.fna.fbcdn.net/t51.2885-15/e35/17881695_203908453439594_298327569386700800_n.jpg");
  background-size: cover;
  grid-row-start: 1;
  grid-row-end: 8;
  grid-column-start: 1;
  grid-column-end: 5;
}


/*MEDIAQUERY*/
@media screen and (max-width: 1500px){
  .kader{
    width: 80%;
  }
}

@media screen and (max-width: 1300px){
  .kader{
    width: 90%;
  }
}

@media screen and (max-width: 1000px){
  .kader, .kaderapart{
    width: 80%;
  }

  nav{
    left: 40%;
  }
  #home{
    width: 40%;
  }

  #gridcontainer{
    grid-template-columns: 1fr 10px 1fr;
    grid-template-rows: 1fr 5px 1fr 5px 1fr 5px 1fr 5px 1fr 5px 1fr 5px 1fr 5px 1fr;
  }
  #griditem1{
    grid-row: 1;
    grid-column: 1;
  }
  #griditem2{
    grid-row: 1;
    grid-column: 3;
  }
  #griditem3{
    grid-row: 3;
    grid-column: 1;
  }
  #griditem4{
    grid-row-start: 3;
    grid-row-end: 6;
    grid-column: 3;
  }
  #griditem5{
    grid-row-start: 7;
    grid-row-end: 10;
    grid-column-start: 1;
    grid-column-end: 4;
  }
  #griditem6{
    grid-row: 5;
    grid-column:1;
  }
  #griditem7{
    grid-row-start: 11;
    grid-row-end: 14;
    grid-column-start: 1;
    grid-column-end: 4;
  }
  #griditem8{
    grid-row: 15;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  #gridfooter {
        display: grid;
        width: 100%;
        height: 600px;
        margin: 25px auto;
        grid-template-columns: 1fr 50px 1fr 0px 1fr 50px 1fr ;
        grid-template-rows: 1fr 0px 1fr 50px 1fr 0px 1fr;
  }

  #griditemfootertekst{

    grid-row-start: 4;
    grid-row-end: 8;
    grid-column-start: 2;
    grid-column-end: 7;
    padding: 50px 30px 30px 30px;
  }

  #griditemfooterfoto{
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 8;
  }
}

@media screen and (max-width: 700px){
  nav{
    left: 38%;
  }
  #home{
    width: 50%;
  }
  #gridfooter {
        display: grid;
        width: 100%;
        height: 600px;
        margin: 25px auto;
        grid-template-columns: 1fr 50px 1fr 0px 1fr 50px 1fr ;
        grid-template-rows: 1fr 0px 1fr 50px 1fr 0px 1fr;
  }

  #griditemfootertekst{
    grid-row-start: 4;
    grid-row-end: 9;
    grid-column-start: 1;
    grid-column-end: 8;
    padding: 50px 25px 25px 25px;
  }

  #griditemfooterfoto{

    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 7;
  }
}

@media screen and (max-width: 400px){
  .kader{
    width: 80%;
  }
  nav{
    left: 35%;
    top: 30px;
  }
  nav a{
    margin-right: 30px;
  }
  #home{
    width: 70%;
  }
  #achtergrondfotoapart{
    height: 150px;
  }

  #gridcontainer{
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 5px 1fr 5px 1fr 5px 1fr 5px 1fr 5px 1fr 5px 1fr 5px 1fr;
  }
  #griditem1{
    grid-row: 1;
    grid-column: 1;
  }
  #griditem2{
    grid-row: 3;
    grid-column: 1;
  }
  #griditem3{
    grid-row: 5;
    grid-column: 1;
  }
  #griditem4{
    grid-row-start: 7;
    grid-row-end: 10;
    grid-column: 1;
  }
  #griditem5{
    grid-row: 11;
    grid-column: 1;
  }
  #griditem6{
    grid-row: 13;
    grid-column:1;
  }
  #griditem7{
    grid-row: 15;
    grid-column: 1;
  }
  #griditem8{
    grid-row: 17;
    grid-column: 1;
  }
  #gridfooter {
        display: grid;
        width: 100%;
        height: 600px;
        margin: 25px auto;
        grid-template-columns: 1fr 50px 1fr 0px 1fr 50px 1fr;
        grid-template-rows: 1fr 50px 1fr 0px 1fr 0px 1fr;
  }

  #griditemfootertekst{
    grid-row-start: 2;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 8;
    padding: 50px 10px 10px 10px;
  }

  #griditemfooterfoto{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 7;
  }
}
=======
/*FONT*/

@font-face {
    font-family: 'Bebas Neue Regular';
    src: url("\font\BebasNeue Regular.ttf");
}

@font-face {
    font-family: 'Bodoni';
    src: url("font\BodoniXT.ttf");
}


/*GENERAL*/
* { box-sizing: border-box; }

body{
  font-family: 'Open Sans', sans-serif;
  background-color: whitesmoke;
}

.kader{
  width: 70%;
  margin: 50px auto;
}

.kaderapart{
  width: 50%;
  margin: 50px auto;
}

h1{
  text-align: center;
  font-family: 'Bebas Neue Regular';
  font-weight: lighter;
  letter-spacing: 2px;
}

h2{
  font-family: 'Bodoni';
  font-size: 2em;
  color: white;
  text-align: center;
}

h3{
  font-family: 'Bebas Neue Regular';
  color: #f3bb02;
  font-size: 2em;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

p{
  margin: 10px 0 0 0;
}

img{
  width: 100%;
}

iframe{
  width: 100%;
}

nav{
  text-align: center;
  position: absolute;
  top: 50px;
  left: 46%;
}

nav a{
  text-decoration: none;
  color: white;
  margin-right: 50px;
  font-family: 'Bebas Neue Regular';
  letter-spacing: 2px;
  font-weight: lighter;
}

nav a:hover{
  border-bottom: 2px solid white;
}

#achtergrondfoto{
  width: 100%;
  height: 98vh;
  background-image: url("../foto/achtergrond.jpg");
  background-size: cover;
}


#achtergrondfotoapart{
  width: 100%;
  height: 300px;
  background-image: url("../foto/achtergrond.jpg");
  background-size: cover;
  background-position: bottom;
}

#home{
  display: grid;
  width: 25%;
  margin:  auto;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 5px 1fr;
}

#logo{
  width: 100%;
  grid-row: 1;
  grid-column: 1;
  padding-top: 100px;
}

#intro{
  color: white;
  text-align: center;
  grid-row: 3;
  grid-column: 1;
  font-family: 'Bebas Neue Regular';
  letter-spacing: 2px;
  font-weight: lighter;
}

.info{
  text-align: justify;
  margin-bottom: 50px;
}

.kaderapart a{
  text-decoration: none;
  color: black;
  font-family: 'Bebas Neue Regular';
  letter-spacing: 2px;
  font-weight: lighter;
}

.kaderapart a:hover{
  border-bottom: 2px solid black;
}




/*GRID*/
#gridcontainer {
      display: grid;
      width: 100%;
      height: 100%;
      margin: 25px auto;
      grid-template-columns: 1fr 10px 1fr 10px 1fr 10px 1fr;
      grid-template-rows: 1fr 5px 1fr 5px 1fr 5px 1fr;
}

#griditem img{
  height: 100%;
  background-size: cover;
}

#griditem1{
  grid-row: 1;
  grid-column: 1;
}

#griditem2{
  grid-row: 1;
  grid-column: 3;
}

#griditem3{
  grid-row: 1;
  grid-column: 5;
}

#griditem4{
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column: 7;
}

#griditem5{
  grid-row-start: 3;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: 4;
}

#griditem6{
  grid-row: 3;
  grid-column: 5;
}
#griditem7{
  grid-row-start: 5;
  grid-row-end: 8;
  grid-column-start: 5;
  grid-column-end: 8;
}
#griditem8{
  grid-row: 7;
  grid-column-start: 1;
  grid-column-end: 4;
}

/*DESCRIPTION*/
.description{
  position: absolute;
  margin: -55px 0 0 20px;
  opacity: 0;

}

.description a{
  background-color: white;
  color: #f3bb02;
  text-decoration: none;
  padding: 5px 5px 5px 5px;
  font-family: 'Bebas Neue Regular';
  font-weight: lighter;
  letter-spacing: 2px;
}

.griditem:hover .description{
  opacity: 1;
}

h4{
  color: white;
  padding: 5px;
  font-family: 'Bebas Neue Regular';
  font-weight: lighter;
  letter-spacing: 2px;
  margin-top: 5px;
  border-left: 2px solid white;
}

.description a:hover{
  color: black;
}



/*FOOTER*/
footer{
  width: 100%;
  background-color: #f3bb02;
  color: white;
  padding: 20px;
}

.fa{
  padding: 10px;
  font-size: 30px;
  width: 40px;
  height: 40px;
  color: white;
  text-align: center;
  text-decoration: none;
  margin: 5px 5px;
  border: 2px solid #f3bb02;
  border-radius: 50%;
}

.fa:hover {
    border: 2px solid white;
    border-radius: 50%;
}

#gridfooter {
      display: grid;
      width: 100%;
      height: 600px;
      margin: 25px auto;
      grid-template-columns: 1fr 0px 1fr 50px 1fr 0px 1fr ;
      grid-template-rows: 1fr 0px 1fr 0px 1fr;
}

#griditemfootertekst{
  border: 5px solid white;
  color: white;
  text-align: justify;
  grid-row: 3;
  grid-column-start: 4;
  grid-column-end: 8;
  padding: 30px 30px 30px 90px;
}

#griditemfooterfoto{
  background-image: url("https://instagram.fbru1-1.fna.fbcdn.net/t51.2885-15/e35/17881695_203908453439594_298327569386700800_n.jpg");
  background-size: cover;
  grid-row-start: 1;
  grid-row-end: 8;
  grid-column-start: 1;
  grid-column-end: 5;
}


/*MEDIAQUERY*/
@media screen and (max-width: 1500px){
  .kader{
    width: 80%;
  }
}

@media screen and (max-width: 1300px){
  .kader{
    width: 90%;
  }
}

@media screen and (max-width: 1000px){
  .kader, .kaderapart{
    width: 80%;
  }

  nav{
    left: 40%;
  }
  #home{
    width: 40%;
  }

  #gridcontainer{
    grid-template-columns: 1fr 10px 1fr;
    grid-template-rows: 1fr 5px 1fr 5px 1fr 5px 1fr 5px 1fr 5px 1fr 5px 1fr 5px 1fr;
  }
  #griditem1{
    grid-row: 1;
    grid-column: 1;
  }
  #griditem2{
    grid-row: 1;
    grid-column: 3;
  }
  #griditem3{
    grid-row: 3;
    grid-column: 1;
  }
  #griditem4{
    grid-row-start: 3;
    grid-row-end: 6;
    grid-column: 3;
  }
  #griditem5{
    grid-row-start: 7;
    grid-row-end: 10;
    grid-column-start: 1;
    grid-column-end: 4;
  }
  #griditem6{
    grid-row: 5;
    grid-column:1;
  }
  #griditem7{
    grid-row-start: 11;
    grid-row-end: 14;
    grid-column-start: 1;
    grid-column-end: 4;
  }
  #griditem8{
    grid-row: 15;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  #gridfooter {
        display: grid;
        width: 100%;
        height: 600px;
        margin: 25px auto;
        grid-template-columns: 1fr 50px 1fr 0px 1fr 50px 1fr ;
        grid-template-rows: 1fr 0px 1fr 50px 1fr 0px 1fr;
  }

  #griditemfootertekst{

    grid-row-start: 4;
    grid-row-end: 8;
    grid-column-start: 2;
    grid-column-end: 7;
    padding: 50px 30px 30px 30px;
  }

  #griditemfooterfoto{
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 8;
  }
}

@media screen and (max-width: 700px){
  nav{
    left: 38%;
  }
  #home{
    width: 50%;
  }
  #gridfooter {
        display: grid;
        width: 100%;
        height: 600px;
        margin: 25px auto;
        grid-template-columns: 1fr 50px 1fr 0px 1fr 50px 1fr ;
        grid-template-rows: 1fr 0px 1fr 50px 1fr 0px 1fr;
  }

  #griditemfootertekst{
    grid-row-start: 4;
    grid-row-end: 9;
    grid-column-start: 1;
    grid-column-end: 8;
    padding: 50px 25px 25px 25px;
  }

  #griditemfooterfoto{

    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 7;
  }
}

@media screen and (max-width: 400px){
  .kader{
    width: 80%;
  }
  nav{
    left: 35%;
    top: 30px;
  }
  nav a{
    margin-right: 30px;
  }
  #home{
    width: 70%;
  }
  #achtergrondfotoapart{
    height: 150px;
  }

  #gridcontainer{
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 5px 1fr 5px 1fr 5px 1fr 5px 1fr 5px 1fr 5px 1fr 5px 1fr;
  }
  #griditem1{
    grid-row: 1;
    grid-column: 1;
  }
  #griditem2{
    grid-row: 3;
    grid-column: 1;
  }
  #griditem3{
    grid-row: 5;
    grid-column: 1;
  }
  #griditem4{
    grid-row-start: 7;
    grid-row-end: 10;
    grid-column: 1;
  }
  #griditem5{
    grid-row: 11;
    grid-column: 1;
  }
  #griditem6{
    grid-row: 13;
    grid-column:1;
  }
  #griditem7{
    grid-row: 15;
    grid-column: 1;
  }
  #griditem8{
    grid-row: 17;
    grid-column: 1;
  }
  #gridfooter {
        display: grid;
        width: 100%;
        height: 600px;
        margin: 25px auto;
        grid-template-columns: 1fr 50px 1fr 0px 1fr 50px 1fr;
        grid-template-rows: 1fr 50px 1fr 0px 1fr 0px 1fr;
  }

  #griditemfootertekst{
    grid-row-start: 2;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 8;
    padding: 50px 10px 10px 10px;
  }

  #griditemfooterfoto{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 7;
  }
}
>>>>>>> 8bdfbbcf4ee72708b17b35623826de5efe2b4052
